html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
header{
    padding-top: 3%;
}

header h1{
    text-align: center;
}

header h2{
    text-align: center;
}

#list {

}

/* Style the links inside the navigation bar */
#navbar {
  overflow: hidden;
  background-color: #d3d3d3;
}

#navbar a {
    display: block;
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
}

#navbar a:hover {
  background-color: #ADD8E6;
  color: black;
}

#navbar a.active {
  background-color: #F08080;
  color: white;
}

.content {
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

main {
	width: 90%;
	margin: auto;
	background-color: #FFFFFF;
	max-width: 1200px;
}

main img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

body {
background-color: #ADD8E6;
;
}
/*Styles*/
h1 {
    font-family: 'Medula One', cursive;
    font-weight: normal;
    line-height: 46px;
    font-size: 4rem;
    margin: 0 0 23px 0;
    color: #F08080;
    }
h2 {
    font-family: 'Abel', sans-serif;
    font-size: 1.5rem;
    line-height: 23px;
    margin: 0 0 23px 0;
    }

p {
    font-family: 'Abel', sans-serif;
    font-size: 1rem;
    line-height: 23px;
    margin: 0 0 23px 0;
    }

li {
    font-family: 'Abel', sans-serif;
}

ul {
    font-family: 'Abel', sans-serif;
}

img {
    width: 50%;
    display: block;
	max-width: 600px;
}

section {
padding-bottom: 3%;
padding-top: 3%;
padding-left: 2%;
}

footer{
    text-align: center;
    overflow: hidden;
    background-color: #d3d3d3;
}
