html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


main {
	width: 90%;
	margin: auto;
	background-color: #FFFFFF;
	max-width: 1200px;
}

body {
background-color: #ADD8E6;
;
}
/*Styles*/
h1 {
    font-family: 'Medula One', cursive;
    font-weight: normal;
    line-height: 46px;
    font-size: 4rem;
    margin: 0 0 23px 0;
    color: #F08080;
    }
h2 {
    font-family: 'Abel', sans-serif;
    font-size: 1.5rem;
    line-height: 23px;
    margin: 0 0 23px 0;
    }

p {
    font-family: 'Abel', sans-serif;
    font-size: 1rem;
    line-height: 23px;
    margin: 0 0 23px 0;
    }

nav {
    font-family: 'Abel', sans-serif;
}

img {
    width: 50%;
    display: block;
	max-width: 600px;
}

/*end styles*/

/* Header */

/* End Header */

/* Nav */

/* End Nav */

/* Sections */
section {

}

#page1 {

}
#page2 {

}
#page3 {

}
#page4 {

}
/* End sections */

/* Footer */

/* End footer */
