html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.site-container {
    max-width: 1200px;
}

/*Fonts*/
h1 {
    font-family: 'Medula One', cursive;
    font-weight: normal;
    line-height: 46px;
    font-size: 52px;
    margin: 0 0 23px 0;
    }
p {
    font-family: 'Abel', sans-serif;
    font-size: 17px;
    line-height: 23px;
    margin: 0 0 23px 0;
    }
/*end fonts*/
